@layer flexoki {
  /* Nav Bar */
  .header {
    border-bottom: 0;
  }
  starlight-lang-select label,
  starlight-theme-select label {
    color: var(--sl-color-gray-3);
  }
  site-search button[data-open-modal] {
    color: var(--sl-color-gray-3);
    kbd {
      background-color: transparent;
    }
  }
  starlight-menu-button button,
  [data-theme='light'] starlight-menu-button button {
    color: var(--sl-color-text);
    background-color: var(--sl-color-gray-7, var(--sl-color-gray-6));
    box-shadow: var(--sl-flexoki-emboss-shadow);
  }
  [data-theme='dark'] starlight-menu-button[aria-expanded='true'] button {
    color: var(--sl-color-text-invert);
  }

  /* Sidebar */
  .sidebar-pane {
    border-inline-end: 0;
  }
  @media (min-width: 50rem) {
    :root {
      --sl-sidebar-pad-x: 1.25rem;
    }
  }
  .sidebar-content {
    padding-top: 1.5rem;

    summary {
      gap: 0.125rem;
      padding-inline: 0;
      flex-direction: row-reverse;
      justify-content: flex-end;
      font-weight: 600;

      .caret {
        --sl-icon-color: var(--sl-color-gray-3);
      }
      @media (min-width: 50rem) {
        /* Tweak alignment of group label and caret icon */
        --caret-adjustment: 0.5px;
        transform: translateY(var(--caret-adjustment));
        .group-label {
          transform: translateY(calc(-1 * var(--caret-adjustment)));
        }
      }
    }

    li {
      border: 0;
      --sl-sidebar-item-padding-inline: 0.45rem;
    }
    .top-level > li + li {
      margin-block: 0;
    }
    .top-level > li:has(details) {
      margin-block: 0.5rem;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .large {
      font-size: inherit;
      font-weight: inherit;

      @media (min-width: 50rem) {
        font-size: var(--sl-text-sm);
      }
    }

    a {
      color: var(--sl-color-gray-3);
      &:hover {
        color: var(--sl-color-gray-1);
      }
      &[aria-current='page'] {
        background-color: transparent;
        color: var(--sl-color-text-accent);
        font-weight: 600;
      }
    }
  }

  /* TOC */
  .right-sidebar {
    /* Remove border dividing right sidebar from main content column. */
    border-inline-start: 0;
  }
  .right-sidebar-panel {
    /* Top padding to move TOC down and aligned with page title. */
    padding-top: 1.8125rem;
    /* Spacing between main column and TOC. */
    padding-inline-start: 2rem;

    h2 {
      /* Smaller TOC heading. */
      font-size: var(--sl-text-sm);
    }
    a {
      /* Remove indentation on top-level of TOC links. */
      --pad-inline: 0px;
    }
  }
  .content-panel {
    /* Less vertical padding around page title. */
    padding-block: 0.5rem;

    & + .content-panel {
      /* Remove border between page title and main content. */
      border-top: 0;
    }
  }
  mobile-starlight-toc {
    summary {
      border-bottom: 0;
    }
    .toggle {
      border: 0;
      box-shadow: var(--sl-flexoki-emboss-shadow);
      background-color: var(--sl-color-gray-7, var(--sl-color-gray-6));

      [open] & {
        background-color: var(--sl-color-gray-5);
        border-color: var(--sl-color-gray-5);
      }
    }
    .display-current {
      color: var(--sl-color-gray-3);
    }
    .dropdown {
      margin-inline: 1rem;
      margin-bottom: -0.5rem;
      border-top: 0;
      border-inline: 0;
      border-radius: 0.5rem;
      background-color: var(--sl-color-gray-7, var(--sl-color-gray-6));
      box-shadow: var(--sl-flexoki-emboss-shadow), var(--sl-shadow-md);
    }
    .isMobile a {
      --pad-inline: 0.75rem;
      border-top: 0;
      padding-block: 0.4375rem;
      font-size: var(--sl-text-xs);
    }
    .isMobile > :first-child a {
      padding-top: 0.625rem;
    }
    .isMobile > :last-child a {
      padding-bottom: 0.625rem;
    }
  }

  :root {
    /* Base font size. Theoretical range: 14px–20px. In practice: ~15px–20px. */
    --sl-flexoki-text-base: min(calc(0.875rem + 0.3vw), 1.25rem);
    --sl-flexoki-text-sm: calc(0.875 * var(--sl-flexoki-text-base));
  }

  .content-panel {
    /* Responsive text sizes for main content. */
    --sl-text-2xs: calc(0.75 * var(--sl-text-base));
    --sl-text-xs: calc(0.8125 * var(--sl-text-base));
    --sl-text-sm: var(--sl-flexoki-text-sm);
    --sl-text-base: var(--sl-flexoki-text-base);
    --sl-text-lg: calc(1.125 * var(--sl-text-base));
    --sl-text-xl: calc(1.25 * var(--sl-text-base));
    --sl-text-2xl: calc(1.5 * var(--sl-text-base));
    --sl-text-3xl: calc(1.8125 * var(--sl-text-base));
    --sl-text-4xl: calc(2.1875 * var(--sl-text-base));
    --sl-text-5xl: calc(2.625 * var(--sl-text-base));
    --sl-text-6xl: calc(4 * var(--sl-text-base));

    --sl-text-body: var(--sl-text-base);
    --sl-text-body-sm: var(--sl-text-xs);
    --sl-text-code: var(--sl-text-sm);
    --sl-text-code-sm: var(--sl-text-xs);
    --sl-text-h1: var(--sl-text-4xl);
    --sl-text-h2: var(--sl-text-3xl);
    --sl-text-h3: var(--sl-text-2xl);
    --sl-text-h4: var(--sl-text-xl);
    --sl-text-h5: var(--sl-text-lg);
  }

  /* Headings */
  h1#_top,
  .sl-markdown-content :is(:is(h1, h2, h3, h4, h5, h6), .sl-heading-wrapper > :is(h1, h2, h3, h4, h5, h6)):not(:where(.not-content *)) {
    font-weight: 500;
  }

  .sl-markdown-content {
    font-size: var(--sl-text-body);

    /* Links */
    a:not(:is(.sl-link-button, :where(.not-content *))) {
      color: var(--sl-color-text);
      text-underline-offset: 0.15em;

      &:hover {
        color: var(--sl-color-text-accent);
      }
    }

    /* Blockquote */
    blockquote:not(:where(.not-content *)) {
      border-inline-start-width: 2px;
    }

    /* Inline code */
    code:not(:where(.not-content *)) {
      border-radius: 0.1875em;
    }

    /* Spacing */
    :not(a, strong, em, del, span, input, code, br)
      + :not(a, strong, em, del, span, input, code, br, :where(.not-content *)) {
      margin-top: 1em;
    }
    /* Headings after non-headings have more spacing. */
    :not(h1, h2, h3, h4, h5, h6, .sl-heading-wrapper) + :is(h1, h2, h3, h4, h5, h6, .sl-heading-wrapper):not(:where(.not-content *)) {
      margin-top: 1.5em;
    }
    li + li:not(:where(.not-content *)),
    dt + dt:not(:where(.not-content *)),
    dt + dd:not(:where(.not-content *)),
    dd + dd:not(:where(.not-content *)) {
      margin-top: 0.25em;
    }
    li
      > :last-child:not(
        li,
        ul,
        ol,
        a,
        strong,
        em,
        del,
        span,
        input,
        code,
        br,
        :where(.not-content *)
      ),
    li > :nth-last-child(2):is(starlight-tabs) {
      margin-bottom: 1.75em;
    }

    /* Asides */
    .starlight-aside {
      border: 0;
      border-radius: 0.25rem;
    }
    .starlight-aside__title {
      font-size: var(--sl-text-base);
      font-weight: 500;
    }
    .starlight-aside__title + .starlight-aside__content {
      margin-top: .5rem;
    }
    .starlight-aside__icon {
      font-size: var(--sl-text-lg);
    }

    /* Steps */
    .sl-steps {
      & > li::before {
        box-shadow: none;
        background-color: var(--sl-color-gray-6);
      }
      & > li::after {
        background-color: var(--sl-flexoki-shadow-shade);
      }
    }

    /* Cards */
    .card {
      border: 0;
      border-radius: 0.25rem;
      background-color: var(--sl-color-gray-7, var(--sl-color-gray-6));
      padding: 1.5em;

      .title {
        font-size: var(--sl-text-body);
        gap: 0.5em;
      }

      .icon {
        border: 0;
        padding: 0;
        background-color: transparent;
      }

      .body {
        margin: 0;
      }
    }

    /* Link Cards */
    .sl-link-card {
      box-shadow: none;

      .title {
        font-size: var(--sl-text-body);
      }
      .description {
        font-size: var(--sl-text-sm);
      }
    }

    /* File Tree */
    starlight-file-tree {
      border: 0;
      border-radius: 0.25rem;
      background-color: var(--sl-color-gray-7, var(--sl-color-gray-6));
    }
  }

  /* Badges */
  .sl-badge:is(.sl-badge) {
    font-family: var(--__sl-font);
    font-weight: 500;
    line-height: 1;

    &.small {
      padding: 0.2625em 0.425em;
      font-size: var(--sl-text-2xs);
    }
    &.medium {
      padding: 0.2625em 0.425em;
      font-size: var(--sl-text-sm);
    }
    &.large {
      padding: 0.2625em 0.425em;
      font-size: var(--sl-text-body);
    }

    /* Default */
    --sl-badge-default-border: var(--sl-color-accent);
    --sl-badge-default-bg: var(--sl-badge-default-border);
    --sl-badge-default-text: var(--sl-color-accent-low);
    /* Note */
    --sl-badge-note-border: var(--sl-color-blue);
    --sl-badge-note-bg: var(--sl-badge-note-border);
    --sl-badge-note-text: var(--sl-color-blue-low);
    /* Danger */
    --sl-badge-danger-border: var(--sl-color-red);
    --sl-badge-danger-bg: var(--sl-badge-danger-border);
    --sl-badge-danger-text: var(--sl-color-red-low);
    /* Success */
    --sl-badge-success-border: var(--sl-color-green);
    --sl-badge-success-bg: var(--sl-badge-success-border);
    --sl-badge-success-text: var(--sl-color-green-low);
    /* Caution */
    --sl-badge-caution-border: var(--sl-color-orange);
    --sl-badge-caution-bg: var(--sl-badge-caution-border);
    --sl-badge-caution-text: var(--sl-color-orange-low);
    /* Tip */
    --sl-badge-tip-border: var(--sl-color-purple);
    --sl-badge-tip-bg: var(--sl-badge-tip-border);
    --sl-badge-tip-text: var(--sl-color-purple-low);

    [data-theme='light'] & {
      /* Default */
      --sl-badge-default-border: var(--sl-color-accent-low);
      --sl-badge-default-text: var(--sl-color-accent-high);
      /* Note */
      --sl-badge-note-border: var(--sl-color-blue-low);
      --sl-badge-note-text: var(--sl-color-blue-high);
      /* Danger */
      --sl-badge-danger-border: var(--sl-color-red-low);
      --sl-badge-danger-text: var(--sl-color-red-high);
      /* Success */
      --sl-badge-success-border: var(--sl-color-green-low);
      --sl-badge-success-text: var(--sl-color-green-high);
      /* Caution */
      --sl-badge-caution-border: var(--sl-color-orange-low);
      --sl-badge-caution-text: var(--sl-color-orange-high);
      /* Tip */
      --sl-badge-tip-border: var(--sl-color-purple-low);
      --sl-badge-tip-text: var(--sl-color-purple-high);
    }
  }

  .sidebar-content a[aria-current='page'] > .sl-badge:is(.sl-badge) {
    --sl-color-bg-badge: var(--sl-badge-default-bg);
    --sl-color-border-badge: var(--sl-badge-default-border);
    color: var(--sl-badge-default-text);
    font-weight: 500;

    &.note {
      --sl-color-bg-badge: var(--sl-badge-note-bg);
      --sl-color-border-badge: var(--sl-badge-note-border);
      color: var(--sl-badge-note-text);
    }
    &.danger {
      --sl-color-bg-badge: var(--sl-badge-danger-bg);
      --sl-color-border-badge: var(--sl-badge-danger-border);
      color: var(--sl-badge-danger-text);
    }
    &.success {
      --sl-color-bg-badge: var(--sl-badge-success-bg);
      --sl-color-border-badge: var(--sl-badge-success-border);
      color: var(--sl-badge-success-text);
    }
    &.caution {
      --sl-color-bg-badge: var(--sl-badge-caution-bg);
      --sl-color-border-badge: var(--sl-badge-caution-border);
      color: var(--sl-badge-caution-text);
    }
    &.tip {
      --sl-color-bg-badge: var(--sl-badge-tip-bg);
      --sl-color-border-badge: var(--sl-badge-tip-border);
      color: var(--sl-badge-tip-text);
    }
  }

  footer {
    .meta {
      font-size: var(--sl-text-xs);
    }
  }

  /* Search modal */
  #starlight__search {
    --sl-search-corners: calc(0.75rem * var(--pagefind-ui-scale));

    .pagefind-ui__result-inner {
      gap: 0;
    }

    .pagefind-ui__result-title,
    .pagefind-ui__result-nested {
      outline-offset: -2px;
      outline-width: 2px !important;
    }
  }

  /* Banner */
  .sl-banner {
    margin: 1rem var(--sl-nav-pad-x);
    box-shadow: none;
    border-radius: 999rem;
    background-color: var(--sl-color-accent-low);

    &,
    a {
      color: var(--sl-color-text);
    }
    a:hover {
      color: var(--sl-color-text-accent);
    }

    @media (min-width: 50rem) {
      margin-top: 2rem;

      [data-has-sidebar] & {
        margin-inline-start: 0;
      }
    }
    @media (min-width: 72rem) {
      [data-has-toc] & {
        margin-inline-end: 0;
      }
    }
  }
}
