name: CI

on:
  pull_request:
    branches: [main]

jobs:
  smoke:
    name: Smoke test (docs build)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 24.11.1
          cache: pnpm
      - run: pnpm i
      - run: pnpm --filter starlight-theme-flexoki-docs build
